.navbar {
  position: relative;
  &.fixed {
    background-color: $white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
  }
  .bar-top {
    width: 100%;
    padding: 8px 0;
    background: $black;
    height: 36px;
    @include rsp(apn) {
      height: 55px;
      padding: 8px 6px;
    }
    display: flex;
    align-items: center;

    &__content {
      width: 100%;
      display: flex;
      padding: 0 160px;
      @include rsp(apn) {
        padding: 0 5px;
      }
      justify-content: space-between;
      align-items: center;
      .left {
        .text {
          color: white;
          @include rsp(apn) {
            display: none;
          }
        }
        .icon {
          display: none;
          svg {
            width: 30px;
            line {
              fill: none;
              stroke: white;
              stroke-miterlimit: 10;
              stroke-width: 1px;
            }
          }
          @include rsp(apn) {
            display: block;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        .phone {
          color: white;
          margin-right: 10px;
        }
        .social {
          display: flex;
          align-items: center;
          a {
            margin-left: 4px;
          }
          .whatsapp {
            svg {
              width: 20.52px;
              height: 20.52px;
            }
          }

          .facebook {
            svg {
              width: 20.292px;
              height: 20.292px;
            }
          }
          .linkedin {
            svg {
              width: 20.724px;
              height: 20.724px;
            }
          }
          .instagram {
            svg {
              width: 20.205px;
              height: 20.205px;
            }
          }
        }
        .languages {
          margin-left: 10px;
          position: relative;
          @include rsp(apn) {
            display: none;
          }
          &:before {
            content: "|";
            position: absolute;
            left: 0;
            color: white;
          }
          ul {
            margin-left: 10px;
            li {
              color: white;
              margin: 0 3px;
              a {
                color: white;
                text-transform: uppercase;
                &.active {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
  div.menu {
    width: 100%;
    padding: 10px 0;
    height: 77px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: hsla(0, 0%, 100%, 0.95);
    transition: 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    @include rsp(apn) {
      display: none;
    }
    &__content {
      width: 100%;
      padding: 0 150px;
      display: flex;
      justify-content: space-between;
      .left {
        .logo {
          svg {
            width: 143px;
            height: 53px;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        nav {
          ul {
            li {
              margin-left: 20px;
              position: relative;
              a {
                position: relative;
                &[aria-current="page"] {
                  &:before {
                    content: "";
                    left: 0;
                    width: 23px;
                    border: 1px solid $orange;
                    position: absolute;
                    bottom: -2px;
                    background: $orange;
                  }
                }
              }

              .sub-menu {
                display: none;
                position: absolute;
                min-width: 236px;
                background: white;

                padding: 10px 0;
                li {
                  margin-left: 0;
                  width: 100%;
                  a {
                    padding: 10px 15px;
                    width: 100%;
                    &:hover {
                      background: $orange;
                      color: white;
                    }
                  }
                }
              }
              &:hover {
                .sub-menu {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.current-menu-parent {
  > a {
    &:before {
      content: "";
      left: 0;
      width: 23px;
      border: 1px solid $orange;
      position: absolute;
      bottom: -2px;
      background: $orange;
    }
  }
}
