.sectionInfo {
  &__header {
    .title {
      font-size: 35px;
      color: $gray-4;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
  &__content {
    ol {
      margin: 0;
      padding: 0;
      h2 {
        font-size: 14px;
        color: $black;
        margin-bottom: 10px;
      }
      > li {
        margin-bottom: 30px;
        strong {
          font-size: 14px;
        }
        ol, ul {
          li {
            margin-bottom: 10px;
            line-height: 23px;
          }
        }
      }
      &.number {
        list-style-type: decimal;
        li {
          display: list-item;
          list-style-type: decimal;
        }
      }
      &.check {
        list-style-type: disc;
        li {
          display: list-item;
          list-style-type: disc;
        }
      }
      &.letter {
        list-style-type: lower-alpha;
        li {
          display: list-item;
          list-style-type: lower-alpha;
        }
      }
    }

    ul {
      &.check {
        list-style-type: disc;
        li {
          display: list-item;
          list-style-type: disc;
        }
      }
    }

    p {
      font-size: 16px;
      line-height: 26px;
      color: $black;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
