:root {
  --swiper-navigation-size: 44px;
}
.slide {
  width: 100%;
  margin-top: 113.72px;
  height: calc(100vh - 113.72px);
  @include rsp(apn) {
    margin-top: 55px;
  }
  position: relative;
  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 150px;
    @include rsp(apn) {
      padding: 0 10px;
    }
    .caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .title {
        font-size: 60px;

        @include rsp(apn) {
          font-size: 40px;
        }
        font-weight: bold;
        color: white;
        opacity: 0;
        transform: matrix(1, 0, 0, 1, -200, 0);
        
        div {
          display: block;
          position: relative;
          span {
            position: relative;
            &:after {
              position: absolute;
              content: "";
              right: -55px;
              border: 2px solid rgba($orange, 0.8);
              width: 52px;
              background: $orange;
              @include rsp(apn) {
                width: 32px;
                right: -32px;
                bottom: 9px;
              }
              bottom: 15px;
            }
          }
        }
        margin-bottom: 25px;
      }
      .link {
        opacity: 0;
        transform: matrix(1, 0, 0, 1, -200, 0);
        
      }
    }
  }
}

.services {
  width: 100%;
  padding: 100px 0 100px 150px;
  position: relative;
  @include rsp(apn) {
    padding: 15px;
  }
  &__content {
    display: flex;
    @include rsp(apn) {
      flex-direction: column;
    }
    .left {
      flex: 1 1 100%;
      max-width: 40%;
      padding: 0 15px 0 0;
      @include rsp(apn) {
        max-width: 100%;
        padding: 0;
      }
      .description {
        p {
          font-size: 14px;
          line-height: 25px;
          color: $gray;
        }
        margin-bottom: 57px;
        @include rsp(apn) {
          margin-bottom: 28.5px;
        }
      }
    }
    .right {
      flex: 1 1 100%;
      max-width: 60%;
      @include rsp(apn) {
        max-width: 100%;
      }
      .slider {
        position: relative;
        width: 100%;
        .swiper-container {
          width: 100%;
          height: 100%;
          padding: 63px 15px 30px;
          @include rsp(apn) {
            padding: 15px 0 0;
          }
          .swiper-slide {
            font-size: 18px;
            width: 452px;
          }
        }
        .x-pagination {
          position: relative;
          .bar-main {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .swiper-b-prev,
            .swiper-b-next {
              width: 33px;
              margin: 0 5px;
              cursor: pointer;
              &.swiper-button-disabled {
                svg {
                  path {
                    fill: rgba(0, 0, 0, 0.3);
                  }
                }
              }
            }
            svg {
              width: auto;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.solutions {
  width: 100%;
  position: relative;
  &__content {
    display: flex;
    @include rsp(apn) {
      flex-direction: column;
    }
    .left {
      flex: 1 1 100%;
      max-width: 44.6%;
      padding: 0 35px 0 0;
      @include rsp(apn) {
        max-width: 100%;
        padding: 0;
        margin-bottom: 15px;
      }
      img {
        width: 100%;
        height: 485px;

        object-fit: cover;
        border-top-right-radius: 10px;
        @include rsp(apn) {
          height: auto;
          border-top-right-radius: 0;
        }
      }
    }
    .right {
      flex: 1 1 100%;
      max-width: 55.4%;
      padding: 0 30px 0 0;
      @include rsp(apn) {
        max-width: 100%;
        padding: 0 15px;
      }
      .list {
        ul {
          li {
            display: flex;
            padding: 15px 0;
            .x-left {
              flex: 1 1 100%;
              max-width: 10%;
              span {
                font-size: 40px;
                @include rsp(apn) {
                  font-size: 30px;
                }
                font-weight: bold;
                color: $gray-text;
              }
            }
            .x-right {
              flex: 1 1 100%;
              max-width: 90%;
              @include rsp(apn) {
                padding-left: 40px;
              }
              strong {
                font-size: 20px;
                font-weight: bold;
                color: $gray-text;
              }
              p {
                font-size: 14px;
                line-height: 25px;
                color: #515151;
              }
            }
          }
        }
      }
    }
  }
}

.contact-us {
  width: 100%;
  position: relative;
  background: $orange;
  &__content {
    display: flex;
    @include rsp(apn) {
      flex-direction: column;
      padding: 50px 15px;
    }
    justify-content: space-between;
    padding: 50px 0;
    .title {
      font-size: 35px;
      font-weight: bold;
      color: white;
      @include rsp(apn) {
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .sub-title {
      font-size: 20px;
      font-weight: 500;
      color: white;
      @include rsp(apn) {
        font-size: 16px;
        text-align: center;
      }
    }
    .link {
      color: white;
      border: 1px solid white;
      border-radius: 50px;
      padding: 15px 40px;
    }
    .right {
      @include rsp(apn) {
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}

.customers {
  width: 100%;
  position: relative;
  background: white;
  padding: 60px 0;
  @include rsp(apn) {
    padding: 30px 0;
  }
  &__content {
    .title {
      font-size: 50px;
      @include rsp(apn) {
        font-size: 30px;
      }
      font-weight: 300;
      text-align: center;
      margin-bottom: 30px;
    }
    .swiper-container {
      .swiper-slide {
        width: 127px;
      }
    }
    .sliders {
      position: relative;
      width: 100%;
      .swiper-container {
        margin-left: 80px;
        margin-right: 80px;
        .swiper-slide {
          img {
            margin: 0 auto;
            max-width: 127px;
            width: 100%;
            height: auto;
          }
        }
      }
      .swiper-b-prev,
      .swiper-b-next {
        position: absolute;
        top: 50%;
        margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        cursor: pointer;
        opacity: 1;
        cursor: pointer;

        &.swiper-button-disabled {
          svg {
            path {
              fill: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
      .swiper-b-next {
        right: 10px;
        left: auto;
      }
      .swiper-b-prev {
        left: 10px;
        right: auto;
      }
      svg {
        width: auto;
        height: 100%;
      }
    }
  }
}
