.thankCheckout {
  margin-top: 100px;
  @include rsp(apn) {
    margin-top: 60px;
  }
  &__content {
    padding: 70px 0;
    @include rsp(apn) {
      padding: 30px 20px;
    }
    .desktop {
      .order {
        margin-bottom: 30px;
        h2 {
          font-size: 35px;
          margin-bottom: 40px;
          color: $gray-4;
        }
        &:first-child {
          margin-bottom: 40px;
        }
      }
      table {
        width: 100%;
        thead {
          th {
            text-align: left;
            padding: 20px 0;
            color: $black;
            font-size: 25px;
            font-weight: $bold;
          }
          tr {
            border-bottom: 2px solid $gray-5;
          }
        }
        tbody {
          tr:not(:last-child) {
            border-bottom: 1px solid $gray-5;
          }
          td {
            padding: 20px 0;
            font-size: 15px;
            color: $black;
            font-weight: $bold;
          }
        }
      }
    }
    .mobile {
      .order {
        .title {
          font-size: 25px;
          margin-bottom: 30px;
          color: $gray-4;
        }
        .list {
          &__item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            div {
              flex: 1 1 100%;
              max-width: calc(50% - 10px);
              padding: 10px 0;
              border-bottom: 1px solid $gray-5;
              &.full {
                max-width: 100%;
              }
              strong {
                font-size: 15px;
                font-weight: $bold;
                margin-bottom: 10px;
                display: block;
              }
              p {
                font-size: 12px;
                font-weight: $bold;
              }
            }
          }
        }
        .list__item:last-child {
          div {
            border-bottom: none;
          }
        }
      }
    }
  }
}
