$Montserrat: 'Montserrat', sans-serif;


$rootFontSize: 14;

$fa: 'FontAwesome';

$bodyTruetype: $Montserrat;

// colores
$white: #ffffff;
$black: #262626;
$orange: #FF8000;
$gray-text: #665c57;
$gray: #515151;
$gray-2: #c4c5c9;
$gray-3: #6c6c6c;
$white-gray: #e5e5e5;
$light-gray: #707070;
$light-blue: #00adee;
$blue: #1C69D4;
$dark: #243b55;
$green: #64b161;
$red: #D20000;
$bold: bold;
$regular: 400;
$medium: 500;

