.sectionCheckout {
  margin-top: 100px;
  @include rsp(apn) {
    margin-top: 60px;
  }
  &__content {
    padding: 30px 0 100px;
    position: static;
    .input-text {
      border: 1px solid $gray-4;
      height: 50px;
      padding: 0 20px;
    }
    form[name="checkout"] {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .woocommerce-billing-fields,
    .woocommerce-checkout-review-order {
      h3 {
        margin-bottom: 30px;
      }
    }

    .woocommerce img,
    .woocommerce-page img {
      width: 80px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
  }

  .box-checkout {
    display: flex;
    flex-wrap: wrap;
    @include rsp(apn) {
      flex-direction: column;
    }
  }
  p#billing_country_field,
  p#shipping_country_field {
    display: none !important;
  }
  .section-billing,
  .section-shipping {
    margin-right: 30px;
    @include rsp(apn) {
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .section-billing {
    #billing_first_name_field,
    #billing_last_name_field {
      @include rsp(apn) {
        width: 100%;
      }
    }
  }
  .section-shipping {
    #shipping_first_name_field,
    #shipping_last_name_field {
      @include rsp(apn) {
        width: 100%;
      }
    }
  }

  .tabs {
    &__content {
      .tab-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $gray-5;
        margin-bottom: 20px;
        padding: 24px;
        @include rsp(apn) {
          display: block;
        }
        &.active {
          border: 1px solid $blue;
        }
        .left {
          display: flex;
          max-width: 60%;
          flex: 1 1 100%;
          @include rsp(apn) {
            max-width: 100%;
          }
          .logo {
            img {
              width: 102px;
              height: 100px;
              border: none !important;
              object-fit: contain;
            }
            @include rsp(apn) {
              width: 85px;
            }
          }
          .address {
            margin-left: 30px;
            @include rsp(apn) {
              width: calc(100% - 110px);
            }
            .title {
              font-size: 14px;
              color: $black;
              font-weight: $bold;
              margin-bottom: 10px;
            }
            .name {
              margin-bottom: 10px;
            }
          }
        }

        .control {
          max-width: 40%;
          flex: 1 1 100%;
          @include rsp(apn) {
            max-width: 100%;
            margin-top: 20px;
          }
          a {
            padding: 16px 5px;
            background-color: white;
            border: 1px solid $blue;
            color: $blue;
            display: block;
            text-align: center;
            font-weight: $bold;
          }
        }
      }
    }
  }
}

@include rsp(apn) {
  .bg-resumen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    &.opened {
      display: block;
    }
  }
  .resumen-order {
    background-color: $gray-6;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    height: 406px;
    transform: translateY(84%);
    box-shadow: 0px 2px 8px #00000026;
    transition: 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    .main {
      display: flex;
      flex-direction: column;
      height: calc(100% - 30%);
      width: 100%;
    }
    &__header {
      position: relative;
      .title {
        position: relative;
        padding: 25px 20px;
        cursor: pointer;
        width: 100%;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          background-image: url(/wp-content/themes/bmw/assets/down.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 16px;
          height: 16px;
          transition: 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
          transform: rotate(180deg);
          top: calc(50% - 8px);
        }
        &:before {
          content: "";
          position: absolute;
          left: 20px;
          right: 20px;
          height: 1px;
          bottom: 0;
          background-color: rgba($gray-4, 0.5);
          display: none;
        }
      }
      .subtitle {
        padding: 0 20px;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
    }
    &__content {
      padding-left: 20px;
      padding-right: 20px;
      flex: 1 1 100%;
      main {
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        border: 1px solid #e1e1e1;
        .content {
          flex: 1 1 100%;
          overflow: auto;
          min-height: 214px;
          max-height: 214px;
          padding-top: 6px;
          padding-left: 5px;
          padding-right: 5px;
        }
        .shop_table.woocommerce-checkout-review-order-table {
          border: none !important;
          margin: 0 !important;
          color: red;
        }
        table.shop_table td {
          margin: 0 !important;
          border: none !important;
        }
        .info {
          display: flex;
          justify-content: space-between;
          padding: 20px 14px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            height: 1px;
            left: 14px;
            right: 14px;
            background: rgba($gray-4, 0.5);
            top: 0;
          }
          .amount {
            font-weight: $bold;
          }
        }
      }
    }

    &.opened {
      transform: translateY(0%);
      .resumen-order__header {
        .title {
          &:before {
            display: block;
          }
        }

        .title {
          &:after {
            transform: rotate(0);
          }
        }
      }
    }
  }
}
.detail-resumen {
  border: 1px solid #e3e3e3;
  padding: 5px;
  table {
    border: none !important;
    margin-bottom: 0 !important;
    td,
    th {
      border: none !important;
    }
  }
}
.wc_payment_methods.payment_methods.methods {
  display: none !important;
}

.woocommerce-checkout-payment {
  display: none;
}
.form-row.place-order {
  padding: 0 !important;
}

.MyButton {
  margin-top: 30px;
  width: calc(100% - 30% - 30px);
  @include rsp(apn) {
    margin-top: 0px;
    width: calc(100% - 40px);
    margin-left: 20px;
  }
  .button {
    &:hover {
      color: white !important;
    }
  }
}
#custom_checkout_field {
  display: none;
}
.woocommerce-shipping-totals.shipping {
  display: none;
}

.shop_table.woocommerce-checkout-review-order-table {
  tfoot {
    .cart-subtotal {
      display: none;
    }
    th,
    td {
      border: none !important;
    }
  }
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  li {
    padding: 20px 0;
    border-right: none !important;
    strong {
      margin-top: 10px;
    }
  }
}
.woocommerce-order-details {
  h2 {
    margin-bottom: 10px;
  }
}

.woocommerce-customer-details {
  h2 {
    margin-bottom: 10px;
    display: none;
  }
  address {
    display: none;
    line-height: 32px;
    margin-bottom: 30px !important;
  }
}

.start-js-btn.modal-opener.default {
  background: $blue !important;
  color: white;
  position: relative;
  width: 250px;
  padding: 25px 10px;
  &:before {
    content: "REALIZAR PAGO";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}
