.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  &.index {
    z-index: 1;
  }
  .button-menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    @include rsp(apn) {
      display: block;
    }
    svg {
      rect {
        fill: white;
      }
    }
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background-color: hsla(0, 0%, 100%, 0.95);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
  }
  &.is-active {
    position: fixed;
    &:after {
      height: 100%;
    }
    .logo {
      figure {
        box-shadow: none;
        &:before {
          height: 70px;
        }
      }
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-right: 30px;
    @include rsp(apn) {
      padding: 16px 0;
      margin-right: 10px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $gray-5;
      z-index: -1;
    }
    flex: 1 1 100%;
    nav {
      position: relative;
      @include rsp(apn) {
        display: none;
      }
      .menu {
        a {
          color: $gray-7;
          padding: 41px 10px;
          position: relative;
          font-weight: bold;
        }
        .menu-item {
          &:not(:last-child) {
            margin-right: 40px;
          }
          &:hover {
            .sub-menu {
              display: block;
            }
          }
        }
        .sub-menu {
          display: none;
          position: absolute;
          background: white;
          max-width: 200px;

          .menu-item {
            margin-right: 0;
            padding: 5px 20px;
          }
          li {
            margin-left: 0;
            width: 100%;

            a {
              padding: 10px 0;
              width: 100%;
              color: $gray-7;

              &:hover {
                background: white;
              }
            }
            &:not(:last-child) {
              a {
                border-bottom: 1px solid $gray-5;
              }
            }
          }
        }
      }
      .current_page_item {
        > a {
          color: white;
          &:before {
            content: "";
            left: 0;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: $blue;
            height: 4px;
            z-index: 1;
          }
        }
      }
    }
    .icons {
      button {
        background: transparent;
        svg {
          path {
            fill: white;
          }
        }
      }
      .search {
        position: relative;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .account {
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        svg {
          width: 24px;
          height: 24px;
          g {
            isolation: isolate;
          }

          path {
            fill: white;
          }
        }
        .modal-login {
          width: 285px;
          background-color: white;
          position: absolute;
          z-index: 3;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 20px;
          padding: 24px;
          display: none;
          &.opened {
            display: block;
          }
          &:before {
            content: "";
            position: absolute;
            display: block;
            width: 0px;
            left: 50%;
            top: 0;
            border: 12px solid transparent;
            border-top: 0;
            border-bottom: 10px solid white;
            transform: translate(-50%, calc(-100% - 0px));
          }
          .link {
            background-color: $blue;
            color: white;
            width: 100%;
            padding: 16px 5px;
          }
          div {
            padding: 11px 5px 0;
            p {
              font-size: 12px;
              color: $black;
              a {
                color: $blue;
                font-weight: $bold;
                margin-left: 11px;
              }
            }
          }
        }
      }
      .cart {
        position: relative;
        @include rsp(apn) {
          margin-right: 7px;
        }
        svg {
          width: 23px;
          path {
            fill: white;
          }
          circle {
            fill: white;
          }
        }
      }
      .contact {
        margin-left: 20px;
        svg {
          width: 23px;
          height: 23px;
          position: relative;
          top: 2px;
          path {
            fill: white;
          }
        }
      }
    }
  }
  .logo {
    position: relative;
    width: 200px;
    height: 100px;
    @include rsp(apn) {
      width: 54px;
      height: auto;
    }
    figure {
      width: 100%;
      height: 90px;
      top: 10px;
      z-index: 1;
      position: absolute;
      background: white;
      box-shadow: 0px 1px 6px #00000026;
      display: flex;
      align-items: center;
      padding: 15px;
      border-radius: 5px;
      &:before {
        content: '';
        height: 0px;
        width: 1px;
        position: absolute;
        left: 0px;
        top: 10px;
        background: rgba(142, 142, 142, 0.27);
        transition: 0.3s;
      }
      @include rsp(apn) {
        width: 54px;
        position: relative;
        height: auto;
        top: auto;
      }
    }
  }
  &.is-black,
  &.is-active {
    background: white;
    nav {
      .menu {
        a {
          color: $gray-7;
          font-weight: bold;
        }
      }
    }
    .icons {
      button,
      a {
        svg {
          path {
            fill: $gray-7 !important;
          }
          circle {
            fill: $gray-7 !important;
          }
        }
      }
    }
    .button-menu {
      svg {
        width: 17px;
        height: 17px;
        rect {
          fill: $black;
        }
      }
    }
  }
  .box {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    display: none;
    z-index: -1;
    &__search {
      background-color: white;
      padding: 40px 95px 40px 65px;
      @include rsp(apn) {
        padding: 20px;
      }
      .title {
        margin-bottom: 30px;
        font-size: 20px;
      }
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include rsp(apn) {
          flex-direction: column;
        }
        .row {
          flex: 1 1 100%;
          margin-right: 30px;
          @include rsp(apn) {
            margin-right: 0;
            width: 100%;
          }
          label {
            display: block;
            margin-bottom: 5px;
          }
          input {
            color: black;
            font-weight: $bold;
          }
        }
        .action {
          @include rsp(apn) {
            width: 100%;
          }
          button {
            width: 225px;
            @include rsp(apn) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
